.teste {
	border: solid 1px red;
}


.side-bar {
	background: linear-gradient(140deg, #232323, #072232);
	padding: 0px;
}

.side-bar > h3, .side-bar > p {
	text-align: center;
	color: rgba(255, 255, 255, 0.5);

}

#avatar {
 
    width: 150px;
    height: 150px;
    margin: 30px auto;
    display: block;

    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

#menu {
	margin: 30px 0px;
	font-size: 1.5em;
}

.menu-icon {
	display: inline-block;
}

.menu-text {
	display: inline;
}

li > a {
	color: #fff;
}


#social-media {
	height: 100px;
	margin: 0px;
}

.fa {
	color: rgba(255,255,255,.5);
	margin: 10px 20px;
	display: inline-block;

}

.main-content {
	/*background: url('../images/city.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;	
    opacity: .7;*/

}

#skills {
	background-color: #fff;
	margin: -15px;
}

.title {
	text-align: center;
	color: rgba(0,0,0,.6);
}


.centered-line {
	height: 4px;
	width: 33%;
	margin: 0px auto 20px auto;
}

.about {
	border: solid 2px #05266C;
}

.skills {
	border: solid 2px #6C1305;
}


.carreer-interests {
	border: solid 2px #4E056C;
}


.content-text {
	margin: 10px 0;
	text-align: left;
	font-size: 1.1em;
	color: rgba(0,0,0,.5);
}
